.notification-container{
  position: fixed;
  z-index: 99;
  top: 10px;
  right: 10px;
  }

.notification {
  color: white;
  background-color: black;
  padding: 5px 10px;
  margin: 5px 0;
  cursor: pointer;
  user-select: none;
  width: 200px;
  min-height: 40px;
  box-sizing: border-box;
  animation: slideInRight 0.2s forwards ease-out;
  transform: translate3d(200%, 0, 0);
  overflow: hidden;
  position: relative;
}

.is-timeout::after{
  width: 100%;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.6);
  content: '';
  position: absolute;
  animation: progress 2.5s forwards linear;
  bottom: 0;
  left: 0;
  transform-origin: right;
}

.exit{
  animation: slideOutRight 0.2s forwards ease-out;
}

@keyframes slideInRight {
  from {
    transform: translate3d(200%, 0, 0);
  }
  to{
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideOutRight {
  from {
    transform: translate3d(0, 0, 0);
  }
  to{
    transform: translate3d(200%, 0, 0);
  }
}

@keyframes progress {
  from {
    transform: scaleX(1);
  }
  to{
    transform: scaleX(0);
  }
}